{% extends "base.html" %}

{% block content %}
<a href="{{ url_for("resources") }}"><i class="fa fa-arrow-left"></i> Back</a>

<h5 class="post-title">
  <a href="{{ info.course.link }}" target="_blank">{{ info.course.id}}</a>
  - {{ info.course.name }}
</h5>

<p><b>Schedule</b></p>
<ul>
  <li>{% if info.schedule.discussion %} Discussion: {{ info.schedule.discussion }}{% endif %}</li>
  <li>{% if info.schedule.lab %}Lab: {{ info.schedule.lab }}{% endif %}</li>
  <li>Office Hours: {{ info.schedule.office_hours }}</li>
</ul>

{% if info.logistics %}
<p><b>Logistics</b></p>
<ul>
  {% for entry in info.logistics %}
  <li>{{ entry }}: {{ info.logistics[entry] }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if info.discussion_links %}
<p><b>Discussion Slides</b></p>
<ul>
  {% for discussion in info.discussion_links %}
  <li>
    <a href="{{ discussion.link }}" target="_blank">
    {% if discussion.number or discussion.number == 0 %}
    {{ discussion.number }}:
    {% endif %}
    {{ discussion.title }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% block class %}
<p>Default Content</p>
{% endblock class %}

{% if info.misc %}
<p><b>Miscellaneous</b></p>
<ul>
  {% for entry in info.misc %}
  <li><a href="{{ info.misc[entry] }}" target="_blank">{{ entry }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% endblock content %}
