{% extends "base.html" %}

{% block content %}
<h5 class="post-title">
  <a class="left" href="https://www.cs.princeton.edu/courses/archive/spring21/cos126/">
    COS 126
  </a>: Computer Science - An Interdisciplinary Approach
</h5>
<hr />

<h5>Precept</h5>
<b>Section P10A</b> | Fridays 1:30 p.m. - 2:50 p.m., Friend Center 007
<br>
<b>Attendance Link</b>:
<a href="https://forms.gle/ZgWDJV7qmKLygx9z8" class="link-fa">
  https://forms.gle/ZgWDJV7qmKLygx9z8
</a>

<h5>Office Hours</h5>
<b>Time</b>: Monday 9:30 AM - 11:30 AM
<br>
<b>Zoom Link</b>:
<a href="https://princeton.zoom.us/j/4233501129" class="link-fa">
  https://princeton.zoom.us/j/4233501129
</a>

<h5>Precept Notes</h5>
<p>
  Includes descriptions and transcripts of any extra content from precepts in this
  <a href="https://docs.google.com/document/d/12N2gGXjM35m9vBZMZqvrU_3eWe_iOuHXu85dNA1ga8A/edit?usp=sharing" class="link-fa">
    google doc
  </a>
</p>

<h5>Slides</h5>
<table class="resourceTable">
  <tr>
    <th>Topic</th>
    <th>Slides</th>
  </tr>
  {% for slide in info.slides %}
  <tr>
    <td>{{ slide.title }}</td>
    <td>
      <a href="{{ slide.link }}" class="link-fa">
        <i class="fa fa-tv fa-sm"></i>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
