{% extends "base.html" %}

{% block page_title %} CS 161 {% endblock %}

{% block content %}
<h5 class="post-title" style="border:1px; border-style:solid; border-color:rgb(27, 156, 226); padding: 1em;">
  <a href="https://cs161.org">CS 161</a> - Computer Security
</h5>

<h5>Office Hours</h5>
<p>
  Wed. 6-8 p.m. PST | <a href="https://oh.cs161.org/">OH Queue</a>
</p>

<h5>Demonstrations</h5>
<p>This repository is a collection of hands on demo's I wrote for UC Berkeley's
CS 161 Computer Security course. Check out the full collection on Github
<a href="https://github.com/john-b-yang/course-dev/tree/master/cs161">here</a></p>
{% for demo in info.demos %}
{% if (loop.index % 3 == 1) %}
<div class="cs161-demo-table">
{% endif %}
  <div class="demo-card">
    <div class="picture">
      <span style="display:inline-blockvertical-align:middle"></span>
      <img src="{{ demo.picture }}">
    </div>
    <div class="description">
      <p><a href="{{ demo.link }}">{{ demo.title }}</a><br>{{ demo.description }}</p>
    </div>
  </div>
{% if (loop.index % 3 == 0) or
  (loop.index == info.demos|length) %}
</div>
{% endif %}
{% endfor %}

<br>
<h5>Discussions</h5>
<p>These are the companion slides created for each discussion section. You can find worksheets and solutions on the course website.</p>
<table class="resourceTable">
  <tr>
    <th>Topic</th>
    <th>Slides</th>
    <th>Notes</th>
  </tr>
  {% for disc in info.discussions %}
  <tr>
    <td>{{ disc.title }}</td>
    <td>{% if disc.slides != "" %} <a href="{{ disc.slides }}">Link</a> {% endif %}</td>
    <td>{% if disc.note != "" %} <a href="{{ disc.note }}">Link</a> {% endif %}</td>
  </tr>
  {% endfor %}
</table>

<br>
<h5>Miscellaneous</h5>
<p>There's a potpourri of fantastic online resources which explain the theoretical, mathematical, and practical topics
  in this class to much greater depths. This is a compilation of my personal favorites.</p>

<table>
  <tr>
    <td style="width:25%; border:none; vertical-align: baseline;">
      <b>Cryptography</b>
      <ul>
        <li>Diffie-Hellman Key Exchange |
          <a href="https://www.youtube.com/watch?v=NmM9HA2MQGI&ab_channel=Computerphile">Video</a></li>
        <li>MITM Attacks |
          <a href="https://www.youtube.com/watch?v=vsXMMT2CqqE&ab_channel=Computerphile">Video</a></li>
        <li>Password Cracking |
          <a href="https://www.youtube.com/watch?v=7U-RbOKanYs&ab_channel=Computerphile">Video</a></li>
        <li>SHA (Secure Hashing Algorithm) |
          <a href="https://www.youtube.com/watch?v=DMtFhACPnTY&ab_channel=Computerphile">Video</a></li>
        <li>Secure Stream Ciphers (HMAC) |
          <a href="https://www.youtube.com/watch?v=wlSG3pEiQdc&ab_channel=Computerphile">Video</a></li>
      </ul>
    </td>
    <td style="width:25%; border:none; vertical-align: baseline;">
      <b>Web Security</b>
      <ul>
        <li>Clickjacking |
          <a href="https://www.hacksplaining.com/exercises/click-jacking">Site</a></li>
        <li>Cross Site Request Forgery |
          <a href="https://www.hacksplaining.com/exercises/csrf">Site</a></li>
        <li>Reflected XSS |
          <a href="https://www.hacksplaining.com/exercises/xss-reflected">Site</a></li>
        <li>SQL Injection |
          <a href="https://www.hacksplaining.com/exercises/sql-injection">Site</a></li>
        <li>Stored XSS |
          <a href="https://www.hacksplaining.com/exercises/xss-stored">Site</a></li>
      </ul>
    </td>
    <td style="width:25%; border:none; vertical-align: baseline;">
      <b>Software Security</b>
      <ul>
        <li>Buffer Overflow Exploits |
          <a href="https://www.youtube.com/watch?v=1S0aBV-Waeo&ab_channel=Computerphile">Video</a></li>
        <li>Linux Stack Smashing |
          <a href="https://blog.techorganic.com/2015/04/10/64-bit-linux-stack-smashing-tutorial-part-1/">Site</a></li>
        <li>Super Mario 3 Stack Underflow |
          <a href="https://www.youtube.com/watch?v=WWbZFj-cLvk&ab_channel=Bismuth">Video</a></li>
      </ul>
    </td>
    <td style="width:25%; border:none; vertical-align: baseline;">
      <b>Network Security</b>
      <ul>
        <li>DNS Cache Poisoning |
          <a href="https://www.youtube.com/watch?v=7MT1F0O3_Yw">Video</a></li>
        <li>Morris Worm |
          <a href="https://www.youtube.com/watch?v=o2dj2gnxjtU">Video</a></li>
        <li>Mr. Robot |
          <a href="https://www.youtube.com/watch?v=r1z5y8mMi6M">Video</a></li>
        <li>Slow Loris Attack |
          <a href="https://www.youtube.com/watch?v=XiFkyR35v2Y">Video</a></li>
      </ul>
    </td>
  </tr>
</table>

To realize your dreams of being a movie hacker, check <a href="https://hackertyper.net/">this</a> out. 😎

{% endblock content %}
