{% extends "base.html" %}

{% block content %}
<h5 class="post-title class-title">
  <a class="left" href="https://bcourses.berkeley.edu/courses/1492138">CS 169</a>: Software Engineering
</h5>

<p><h5>Office Hours</h5></p>
<p>
  Mon, Tue, Wed, Fri: 8:30 - 10:30 a.m.<br>
  Submit requests to the <a href="https://cs169-oh.apps.cs61a.org/" class="dimLink">OH Queue</a>.<br>
  Note that the OH Queue will only be open to tickets and active during the above office hours.
</p>

<p><h5>Discussions</h5></p>
<p>
There are no discussion sections for the Summer 2020 iteration of CS W169A. However, there are still discussion
sheets made available for extra practice. These are in no way mandatory or graded, and purely for the benefit of
understanding the material better. The worksheet exercises are more hands-on than the textbook, but not as difficult
as the CHIPS. If you're having difficulty starting a coding assignment, the corresponding worksheet for the module
could be a good place to start.
<br><br>
All the code is located at <a href="https://github.com/john-b-yang/course-dev/tree/master/cs169" class="dimLink">this repository</a>.
To run the code, clone the repository. You can also click the individual links in the table below for the Ruby (.rb)
file. For individual ruby files, place them in any directory and navigate to them in a command prompt. Run "ruby (file
name)" to view the output.
</p>
<table class="resourceTable">
  <tr>
    <th>Section</th>
    <th class="nonSection">Slides</th>
    <th class="nonSection">Worksheet</th>
    <th class="nonSection">Solutions</th>
    <th class="nonSection">Code</th>
  </tr>
  {% for disc in info.discussions %}
  <tr>
    <td>{{ disc.title }}</td>
    <td class="nonSection">
      <a href="{{ disc.slides }}" class="link-fa">
        <i class="fa fa-tv fa-sm"></i>
      </a>
    </td>
    <td class="nonSection">
      {% if disc.worksheet != "" %}
      <a href="{{ disc.worksheet }}" class="link-fa">
        <i class="fa fa-paste fa-sm"></i>
      </a>
      {% endif %}
    </td>
    <td class="nonSection">
      {% if disc.solutions != "" %}
      <a href="{{ disc.solutions }}" class="link-fa">
        <i class="fa fa-check-square fa-sm"></i>
      </a>
      {% endif %}
    </td>
    <td class="nonSection">
      {% if disc.code != "" %}
      <a href="{{ disc.code }}" class="link-fa">
        <i class="fa fa-code fa-sm"></i>
      </a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<p><h5>Workshops</h5></p>
<div style="padding-bottom:5px;">
  I. <strong>Personal Website Workshop <a href="https://github.com/john-b-yang/course-dev/blob/master/cs169/website_workshop.md" class="dimLink">Writeup</a></strong>
</div>
<div>
II. <strong>Technical Interview Workshop</strong>
  <li style="padding-left:10px;"><a href="https://github.com/john-b-yang/course-dev/blob/master/cs169/interview_workshop/presentation.pdf" class="dimLink">SWE Interview Prep Presentation</a></li>
  <li style="padding-left:10px;"><a href="https://github.com/john-b-yang/course-dev/blob/master/cs169/interview_workshop/curriculum.pdf" class="dimLink">SWE Interview Prep Curriculum</a></li>
  <li style="padding-left:10px;"><a href="https://github.com/john-b-yang/course-dev/blob/master/cs169/interview_workshop/pm_questions.pdf" class="dimLink">Product Management Question Bank</a></li>
</div>
<p><h5>Miscellaneous</h5></p>
<li style="padding-left:10px;">ESaaS 2nd Edition Textbook: <a href="http://www.saasbook.info/">link</a></li>
<li style="padding-left:10px;">Fall 2019 Lecture Notes: <a href="https://docs.google.com/document/d/1r_vByTrDdjcE9ASiEQNzbJ8rS6dlFO-JvC62RlXy5Vs/edit?usp=sharing" class="dimLink">link</a></li>
<li style="padding-left:10px;">Fall 2019 Cheat Sheets: <a href="https://docs.google.com/document/d/1opmpFJzLxbX6aXG0EeZQIjPEn2i8QOuX-XM01PpX2zE/edit?usp=sharing" class="dimLink">link</a></li>
<li style="padding-left:10px;">Liang Gong (Fall 2016 TA) Slides: <a href="https://drive.google.com/drive/u/0/folders/0B-ZdRSO5HUpuRzV0dGxDR0R4QUU" class="dimLink">link</a></li>
{% endblock content %}
