{% extends "base.html" %}

{% block content %}
<h5 class="post-title" style="border:1px; border-style:solid; border-color:rgb(27, 156, 226); padding: 1em;">
  <a href="" target="_blank">CS 169</a>
  - Software Engineering
</h5>

<p><h5>Schedule</h5></p>
<ul>
  <li>Discussion: N/A - There are no mandatory discussion sections.</li>
  <li>Office Hours: To be determined...</li>
</ul>

<p><h5>Slides</h5></p>
<ul>
  <li><a href="" target="_blank">To Do</a></li>
</ul>

<p><h5>Miscellaneous</h5></p>
<ul>
  <li>Fall 2019 Lecture Notes: <a href="https://docs.google.com/document/d/1r_vByTrDdjcE9ASiEQNzbJ8rS6dlFO-JvC62RlXy5Vs/edit?usp=sharing" target="_blank">link</a></li>
  <li>Fall 2019 Cheat Sheets: <a href="https://docs.google.com/document/d/1opmpFJzLxbX6aXG0EeZQIjPEn2i8QOuX-XM01PpX2zE/edit?usp=sharing" target="_blank">link</a></li>
</ul>
{% endblock content %}
