{% extends "base.html" %}

{% block page_title %} CS 161 {% endblock %}

{% block content %}
<h5 class="post-title" style="border:1px; border-style:solid; border-color:rgb(27, 156, 226); padding: 1em;">
  <a href="https://cs161.org">CS 161</a> - Computer Security
</h5>

<h5>Office Hours</h5>
<p>
  Wed. 6-8 p.m. PST | <a href="https://oh.cs161.org/">OH Queue</a>
</p>

<h5>Demonstrations</h5>
<p>This repository is a collection of hands on demo's I wrote for UC Berkeley's
CS 161 Computer Security course. Check out the full collection on Github
<a href="https://github.com/john-b-yang/course-dev/tree/master/cs161">here</a></p>
{% for demo in info.demos %}
{% if (loop.index % 3 == 1) %}
<div class="cs161-demo-table">
{% endif %}
  <div class="demo-card">
    <div class="picture">
      <span style="display:inline-blockvertical-align:middle"></span>
      <img src="{{ demo.picture }}">
    </div>
    <div class="description">
      <p><a href="{{ demo.link }}">{{ demo.title }}</a><br>{{ demo.description }}</p>
    </div>
  </div>
{% if (loop.index % 3 == 0) or
  (loop.index == info.demos|length) %}
</div>
{% endif %}
{% endfor %}

<br>
<h5>Discussions</h5>
These are the companion slides created for each discussion section. You can find worksheets and solutions on the course website.
<table style="width:50%;">
  <tr>
    <th>Topic</th>
    <th>Slides</th>
    <th>Notes</th>
  </tr>
  {% for disc in info.discussions %}
  <tr>
    <td>{{ disc.title }}</td>
    <td> {% if disc.slides != "" %} <a href="{{ disc.slides }}">Link</a> {% endif %}</td>
    <td> {% if disc.note != "" %} <a href="{{ disc.note }}">Link</a> {% endif %}</td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
