{% extends "classes/class.html" %}

{% block page_title %} CS 88 {% endblock %}

{% block class %}
<h5>Worksheets</h5>
{{ info.practice.description }}

<table class="resourceTable">
  <tr>
    <th>Topic</th>
    <th>Worksheet</th>
    <th>Solutions</th>
    <th>Python Code</th>
  </tr>
  {% for exercise in info.practice %}
  <tr>
    {% if exercise != "description" %}
    <td>{{ exercise }}</td>
    <td><a href="{{ info.practice[exercise].worksheet }}">Link</a></td>
    <td><a href="{{ info.practice[exercise].solutions }}">Link</a></td>
    <td>
      {% if info.practice[exercise].python %}
      <a href="{{ info.practice[exercise].python }}">Code</a>
      {% endif %}
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% endblock class %}
