{% extends "classes/class.html" %}

{% block class %}
<h5>Worksheets</h5>
<p>{{ info.practice.description }}</p>

<table class="resourceTable">
  <tr>
    <th>Topic</th>
    <th>Worksheet</th>
    <th>Solutions</th>
    <th>Python Code</th>
  </tr>
  {% for exercise in info.practice %}
  <tr>
    {% if exercise != "description" %}
    <td>{{ exercise }}</td>
    <td>
      <a href="{{ info.practice[exercise].worksheet }}" class="link-fa">
        <i class="fa fa-paste fa-sm"></i>
      </a>
    </td>
    <td>
      <a href="{{ info.practice[exercise].solutions }}" class="link-fa">
        <i class="fa fa-check-square fa-sm"></i>
      </a>
    </td>
    <td>
      {% if info.practice[exercise].python %}
      <a href="{{ info.practice[exercise].python }}" class="link-fa">
        <i class="fa fa-code fa-sm"></i>
      </a>
      {% endif %}
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% endblock class %}
