.buttonSec {
    color: black;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.buttonSec:hover {
    opacity: 0.8;
    background: none;
    color: rgb(27, 156, 226);
}

.buttonSec:focus {
    background:none;
}

.pop {
    display: none;
    position: fixed;
    margin: auto;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 80%;
    background: white;
    border: 2px solid;
    border-radius: 15px;
    z-index: 10;
    padding-top: 15px;
}

.pop>p {
    padding-left: 30px;
    font-size: 100%;
    text-align: left;
}

.pop>span {
    position: absolute;
    top: 4%;
    right: 4%;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
