:root {
  --black: #0f1218;
  --black-2: #161c22;
  --blue: #1b9ce2;
  --gray: #8c8b8b;
  --green: #2ea043;
  --white: #c8d1d9;
  --white-2: #f0f0f0;
}

body {
  font-family: basic-sans, 'Helvetica Neue', 'Arial', sans-serif;
  background-color: var(--black);
  color: var(--white);
}

body a {
  color: var(--blue);
  opacity: 1;
}

body a:hover {
  opacity: 0.7;
}

hr.fade {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, var(--white-2), var(--gray), var(--white-2));
  background-image: -moz-linear-gradient(left, var(--white-2), var(--gray), var(--white-2));
  background-image: -ms-linear-gradient(left, var(--white-2), var(--gray), var(--white-2));
  background-image: -o-linear-gradient(left, var(--white-2), var(--gray), var(--white-2));
}

.container {
  width: 50%;
}

.header {
  font-weight: bold;
  text-align: left;
}

/* Text Fade Animation */
#body-fade {
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*** Teaching Page Styling ***/

.teaching li {
  color: var(--gray);
}

.teaching span {
  color: var(--white);
}

/* Resources Table */
.class-table .nonSection {
  width: 12%;
}

.class-table td, th {
  border: 2px solid var(--black-2);
  padding: 5px;
}

.class-table th {
  padding: 10px 0px 10px 5px;
  text-align: left;
}

.record th, td {
  border: 2px solid var(--white);
  padding: 5px;
}

/* CS 161 Demo Cards Styling */
.demos-grid {
  display: flex;
}

.demos-grid .demo-card {
  margin: 5px;
  display: flex;
  border-color: var(--gray);
  border-style: dotted;
  width: 30%;
  border-radius: 5px;
}

.demos-grid .demo-card .picture {
  width: 40%;
  text-align: center;
  margin: 1em 0;
  padding-left: 5px;
  padding-right: 5px;
}

.demos-grid .demo-card .description {
  flex-grow: 1;
  vertical-align: middle;
  padding: 2px;
}

/*** Blog Post Styling ***/
.blog {
  line-height: 1.75;
}

.blog img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.blog pre {
  line-height: 1.5;
}

.blog pre.background {
  background: var(--white);
  border: none;
  border-radius: 10px;
  padding: 15px;
}

/*** Publication Styling ***/

.publication {
  padding-bottom: 2rem;
}

.publication button {
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 5px;
  color: var(--white);
  margin: 2px 5px 0px 0px;
}

/*** Navigation Styling ***/

/* Navigation Bar */
.navbar {
  background: var(--black-2);
  top: 0;
  right: 0;
  left: 0;
  color: var(--white);
}

.navbar a {
  color: var(--white);
}

.navbar ul {
  list-style: none;
  display: flex;
}

/* Navigation Footer */
.navfoot {
  background: var(--black-2);
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
}

.navfoot a {
  opacity: 1;
}

.navfoot i {
  color: var(--white);
}

.navfoot i:hover {
  opacity: 0.7;
}

/*** MARK: Below styling *not* actively used ***/

/*** Subscribe form input + button styling ***/
.signup {
  padding: 0px 5px;
}

.signup input {
  width: 30%;
  padding: 0px 5px;
}

.signup input::placeholder {
  color: #484e58;
}

.signup button {
  background-color: #238636;
  border: 2px solid var(--green);
  border-radius: 5px;
  color: white;
  display: inline;
  padding: 5px 15px;
}

.signup button:hover {
  background-color: var(--green);
}

.signup #loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid var(--green);
  display: none;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/*** Project Page Styling ***/

/* Project Section Boxes */
.card-row {
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* Project Section Text */
.project-title {
  color: var(--white);
  -webkit-transition: all 0.50s;
  transition: all 0.50s;
}

.project-title:hover {
  color: #039ae4;
}

/* Courses Section Boxes */
.card-course {
  background: var(--black-2);
  display: inline-block;
  height: 25%;
  margin: 1rem;
  position: relative;
  width: 25%;
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
  padding: 15px 15px 15px 15px;
}

.card-course-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
}

.card-course-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-course-1 img {
  display: block;
  height: 75px;
  margin: auto;
}

/*** Tag Blocks ***/
.block {
  width: auto;
  padding: 1px 10px 1px 10px;
  margin: auto;
  background: #2e507c;
  display: inline-block;
  border-radius: 10px;
}

.block a {
  color: #58a6ff;
}

.block:hover {
  background: #4176b7;
}

.block-selected {
  width: auto;
  padding: 1px 10px 1px 10px;
  margin: auto;
  background: #4176b7;
  display: inline-block;
  border-radius: 10px;
}

.block-selected a {
  color: white;
}