<ul>
{% for page in pages | sort(attribute='date', reverse=True) %}
    <li>
      <b>{{ page.title }}</b><br />
      {{ page.date }}
      {% if page.meta.tags|length %}
        | <i class="fa fa-tags fa-lg"></i>
        {% for page_tag in page.meta.tags %}
          <div class="block">
            <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag}}</a>
          </div>
        {% endfor %}
      {% endif %}
      <br>
      {{ page.description }} <br>
      <a class="left" href="{{ url_for("page", path=page.path) }}"><i>Read More</i></a>
    </li>
    {% if not loop.last %}<br><br>{% endif %}
{% else %}
    <li>No page.</li>
{% endfor %}
</ul>
