<ul>
{% for page in pages %}
    <li>
      <b>{{ page.title }}</b><br />
      {{ page.date }}
      {% if page.meta.tags|length %}
        | <img style="margin-bottom:-2px" src="/static/pictures/tags.png" height=15/>
        {% for page_tag in page.meta.tags %}
            <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag}}</a>
            {% if not loop.last %},{% endif %}
        {% endfor %}
      {% endif %}
      <br />
      {{ page.description }} <br />
      <a href="{{ url_for("page", path=page.path) }}">Read More</a>
    </li>
    {% if not loop.last %}<br />{% endif %}
{% else %}
    <li>No page.</li>
{% endfor %}
</ul>
