{% extends "base.html" %}

{% block page_title %} About {% endblock %}

{% block content %}
<h4 class="post-title">About</h4>
Hey there! My name's John and I'm currently an undergraduate student studying Computer Science at the University of California, Berkeley. I'm a Teaching Assistant for <a href="https://cs88-website.github.io" target="_blank">CS88</a>, a lower division undergraduate course that delves into Python fundamentals in the context of data science. I'm also working on systems projects with UC Berkeley's <a href="http://bets.cs.berkeley.edu" target="_blank">BETS</a> group within RISELab. Outside of classes, I'm a huge Lakers fan and Star Wars nerd.
<br><br>
The past couple summers, I've had the fortune of working with some wonderful individuals at Make School <img style="margin-bottom:-2px" src="/static/pictures/makeschool.png" height=15/> as an iOS Games Instructor, Apple  under the AppleCare iOS division as a Software Engineering Intern, and Google, specifically on Google Assistant's <img style="margin-bottom:-2px" src="/static/pictures/Projects/GAssistant.png" height=20/> iOS platform! I'm interested in the general realms of Artifical Intelligence, Operating Systems, and Machine Architecture. I enjoy topics discussing how we can make the physical world around us smarter. In addition, I'm passionate about how technology can impact education and communication in the near future.
<br><br>
Thanks for visiting my blog! Please feel free to check out a couple posts, leave comments + critiques, and feel free to contact me through LinkedIn!
{% endblock content %}
