{% extends "base.html" %}

{% block content %}
  <p>
    👋 Hello! I'm John.
  </p>
  <p>
    Currently, I'm a research assistant working at <span style="color:#f58025;">Princeton University</span>,
    advised by Professor <a href="https://www.cs.princeton.edu/~karthikn/">Karthik Narasimhan</a>.
  </p>
  <!-- <p>
    I'm an incoming 1st year Ph.D. student in Computer Science at <span style="color:#E04F39">Stanford University</span>.
    Go Cardinal 🌲!
  </p>
  <p>
    Previously, I completed my M.S.E. in Computer Science at <span style="color:#f58025;">Princeton University</span>,
    advised by Professor <a href="https://www.cs.princeton.edu/~karthikn/">Karthik Narasimhan</a>.
    Before that, I finished my B.S. in Computer Science at the <span style="color:#FDB515;">University of California, </span>
    <span style="color:#00B0DA;">Berkeley</span>.
  </p> -->
  <p>
    I'm interested in Language Agents, and Language Model Evaluation, and Software Engineering.
  </p>
  <p>
    Thanks for visiting! Check out a couple posts and feel free to
    get in touch through Twitter or LinkedIn.
  </p>
{% endblock content %}
