<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="John Yang">
    <meta name="description" content="Programming technicalities and musings">

    <title>John Yang</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="icon" type="image/png" href="/static/pictures/ucb_seal.png">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/button.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119942589-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119942589-1');
    </script>
</head>
<body>
    <nav class="navbar">
      <div class="container">
        <a style="color:white;"><b>JOHN</b> YANG</a>
        <div style="float:right;">
          <ul style="list-style:none;display:flex;">
            <a href="{{ url_for("index") }}" class="left"><li class="link-list">ABOUT</li></a>
            <a href="{{ url_for("blogs") }}" class="left"><li class="link-list">BLOG</li></a>
            <a href="{{ url_for("papers") }}" class="left"><li class="link-list">PAPERS</li></a>
            <a href="{{ url_for("projects") }}" class="left"><li class="link-list">PROJECTS</li></a>
            <a href="{{ url_for("resources") }}" class="left"><li class="link-list">RESOURCES</li></a>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="padding-bottom:100px;">
        <br>
        <main id="body-fade">
            {% block content %}
            <p>Default content to be displayed</p>
            {% endblock content %}
        </main>
    </div>
    <nav class="navfoot">
      <div style="text-align:center;">
        &copy; 2020 |
        &thinsp; <a href="https://www.linkedin.com/in/jyang20" class="link-fa"><i class="fa fa-linkedin fa-lg"></i></a>
        &thinsp; <a href="http://github.com/john-b-yang" class="link-fa"><i class="fa fa-github fa-lg"></i></a>
        &thinsp; <a href="https://vsco.co/krucyfixor/gallery" class="link-fa"><i class="fa fa-camera-retro fa-lg"></i></a>
      </div>
    </nav>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="/static/js/button.js"></script>
</body>

</html>
