<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="John Yang">
    <meta name="description" content="Programming technicalities and musings">

    <title>{% block page_title %}Home{% endblock page_title %} | John Yang</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/static/pictures/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/button.css">
    <link rel="stylesheet" type="text/css" href="/static/css/popup.css">
    <link rel="stylesheet" type="text/css" href="/static/css/columns.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119942589-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119942589-1');
    </script>
</head>

<!-- style="background-image: url(../static/pictures/background-picture.png);" -->
<body>
    <div class="container">
        <div id="wrapper" style="margin-top:10px; margin-bottom:10px">
            <!-- <div style="float:left; margin-right:15px;" id="1">
                <img style="border-radius:10px" src="/static/pictures/Picture.png" height=90 />
            </div> -->
            <div style="float:left;" id="2">
                <h4 style="line-height: 15px;"><a href="{{ url_for("index") }}">John Yang</a></h4>
                <p>EECS '20 at UC Berkeley <br> Former , <img style="margin-bottom:-2px" src="/static/pictures/google.png" height=15 /> SWE Intern</p>
            </div>
            <div style="float:right;padding-top:20px;padding-right:50px;" id="3">
                <ul style="list-style:none;">
                    <li id="link-list"><a href="{{ url_for("index") }}">Blog</a></li>
                    <li id="link-list"><a href="{{ url_for("about") }}">About</a></li>
                    <li id="link-list"><a href="{{ url_for("projects") }}">Projects</a></li>
                    <li id="link-list"><a href="{{ url_for("resources") }}">Resources</a></li>
                    <li id="link-list"><a href="http://github.com/john-b-yang" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>
        <p><br><br><br><br></p>
        <hr />
        <main id="body-fade">
            {% block content %}
            <p>Default content to be displayed</p>
            {% endblock content %}
        </main>
        <hr><br>
        <div style="text-align:center;">
            <footer>
                <a href="https://www.linkedin.com/in/jyang20" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                &emsp; <a href="http://github.com/john-b-yang" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                &emsp; <a href="https://www.canva.com/byjohnyang" target="_blank"><i class="fa fa-paint-brush fa-lg"></i></a>
            </footer>
            <p class="light-text" style="color:gray"> John Yang &copy; 2019 </p>
        </div>
        <p><br></p>
    </div>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="/static/js/button.js"></script>
</body>

</html>
