{% extends "base.html" %}

{% block content %}
  <h3 class="post-title"><b>Papers</b></h3>
  A collection of notes from past paper readings and reviews. Takeaways and thoughts within 500 words.

  <p>
    At the moment, I'm reading papers from the
    <a href="http://www.redbook.io/">Red Book</a>.
  </p>

  {% if tag == 'all' %}
  <div class="block-selected">
  {% else %}
  <div class="block">
  {% endif %}
    <a href="{{ url_for("papers") }}">All</a>
  </div>

  {% for t in tags %}
    {% if t == tag %}
    <div class="block-selected">
    {% else %}
    <div class="block">
    {% endif %}
      <a href="{{ url_for("paper_tag", tag=t) }}">{{ t }}</a>
    </div>
  {% endfor %}

  <ul>
    {% for page in pages | sort(attribute='date', reverse=True) %}
      {% if tag == 'all' or tag in page.tags %}
        <li>
          <a style="color:white;" href="{{ url_for("review", path=page.path) }}">
            <b>{{ page.title }}</b>
          </a> | {{ page.date }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock content %}
