{% extends "base.html" %}

{% block content %}
  <h3 class="post-title"><b>Papers</b></h3>
  A collection of notes from past paper readings and reviews. Takeaways and thoughts within 500 words.

  <p>
    At the moment, I'm re-reading the papers I studied while taking UC Berkeley's
    Privacy Preserving Systems and Machine Learning Systems classes.
  </p>

  {% if tag != 'all' %}
  <div class="block">
    <a href="{{ url_for("papers") }}">All</a>
  </div>
  {% else %}
  <div class="block-selected">
    <a href="{{ url_for("papers") }}">All</a>
  </div>
  {% endif %}

  {% for t in tags %}
    {% if t != tag %}
      <div class="block">
        <a href="{{ url_for("paper_tag", tag=t) }}">{{ t }}</a>
      </div>
    {% else %}
      <div class="block-selected">
        <a href="{{ url_for("paper_tag", tag=t) }}">{{ t }}</a>
      </div>
    {% endif %}
  {% endfor %}
  <ul>
    {% for page in pages | sort(attribute='date', reverse=True) %}
      {% if tag == 'all' or tag in page.tags %}
        <li>
          <a style="color:white;" href="{{ url_for("review", path=page.path) }}">
            <b>{{ page.title }}</b>
          </a> | {{ page.date }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock content %}
