{% extends "base.html" %}

{% block content %}
<h3 class="post-title"><b>Projects</b></h3>
A compilation of some of the selected projects that
I've worked on before. Click each project's title for more information.
<br><br>
<div class="card-row">
  {% for project in projects.personal %}
  {% if loop.index % 3 == 1 %} <div> {% endif %}
    <div class="card-course card-course-1">
      <img style="display:block;margin:auto;" src="/static/pictures/Projects/{{ project.image }}" />
      <p><a href="{{ project.link }}"><strong class="project-title" style="font-size: 20px;">{{ project.title }}</strong></a></p>
      <p class="light-text">{{ project.description }}</p>
    </div>
  {% if (loop.index % 3 == 0) or
    (loop.index == projects.personal|length) %}
  </div>
  {% endif %}
  {% endfor %}
</div>

<h5 class="post-title">Academics</h5>
An additional list containing some of the projects I've worked on
from both UC Berkeley's Computer Science curriculum and research efforts.
<br><br>
<div class="card-row">
  {% for project in projects.academic %}
  {% if loop.index % 3 == 1 %} <div> {% endif %}
    <div class="card-course card-course-1">
      <img style="display:block;margin:auto;" src="/static/pictures/Projects/{{ project.image }}" />
      <p><a href="{{ project.link }}"><strong class="project-title" style="font-size: 20px;">{{ project.title }}</strong></a></p>
      <p class="light-text">{{ project.description }}</p>
    </div>
  {% if (loop.index % 3 == 0) or
    (loop.index == projects.personal|length) %}
  </div>
  {% endif %}
  {% endfor %}
</div>

<h5 class="post-title">Presentations</h5>
I very much enjoy pitching, product demonstrations, and academic presentations.
Here's a clip of public speaking oriented work I've done in the past.
<br><br>
<div class="card-row">
  {% for presentation in projects.presentations %}
  {% if loop.index % 3 == 1 %} <div> {% endif %}
    <div class="card-course card-course-1">
      <img style="display:block;margin:auto;" src="/static/pictures/Projects/{{ presentation.image }}" />
      <p><a href="{{ presentation.link }}"><strong class="project-title" style="font-size: 20px;">{{ presentation.title }}</strong></a></p>
      <p class="light-text">{{ presentation.description }}</p>
    </div>
  {% if (loop.index % 3 == 0) or
    (loop.index == projects.presentations|length) %}
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock content %}
