{% extends "base.html" %}

{% block page_title %} About {% endblock %}

{% block content %}
<h4 class="post-title">Projects</h4>
This is a compilation of some of the selected projects that I've worked on before. Check it out!

<br><br>
<p><strong>Basketball Trivia</strong></p>
<p>Alexa based multiple choice game.</p>
<a href="http://amzn.to/2ndWGVY">Link</a>

<br><br>
<p><strong>Flightbot</strong></p>
<p>Dumb/Feature phone utility for searching and booking curated flights via SMS text and phone calls</p>
<a href="https://devpost.com/software/flightbot">Link</a>
{% endblock content %}
