{% extends "base.html" %} {% block page_title %} About {% endblock %} {% block content %}
<h4 class="post-title">Projects</h4> This is a compilation of some of the selected projects that I've worked on before. Click the projects' titles for more information. Check it out!
<br><br>
<div class="card-row">
    <div>
        <div class="card card-1">
            <img style="display:block;margin:auto;" src="/static/pictures/Projects/GAssistant.png" />
            <button class="buttonSec" style="margin-bottom:-10px"><h5><strong>Capone</strong></h5></button>
            <div class="pop">
                <span>✖</span>
                <h5><strong>Capone</strong></h5>
                <p>Take it, whip it, intermission, let the birds fly</p>
                <p><a href="https://github.com/averyyip/capone" target="_blank">Website</a></p>
            </div>
            <p class="light-text">Google Assistant tool predicting spending trends using ARIMA and financial history</p>
        </div>
        <div class="card card-1">
            <img style="display:block;margin:auto;" src="/static/pictures/Projects/Basketball.png" />
            <button class="buttonSec" style="margin-bottom:-10px"><h5><strong>Basketball Trivia</strong></h5></button>
            <div class="pop">
                <span>✖</span>
                <h5><strong>Basketball Trivia</strong></h5>
                <p>Take it, whip it, intermission, let the birds fly</p>
                <p><a href="http://amzn.to/2ndWGVY" target="_blank">Product Page</a></p>
            </div>
            <p class="light-text">Voice driven multiple choice game for Amazon Alexa</p>
        </div>
        <div class="card card-1">
            <img style="display:block;margin:auto;" src="/static/pictures/Projects/FlightBot.png" />
            <button class="buttonSec" style="margin-bottom:-10px"><h5><strong>FlightBot</strong></h5></button>
            <div class="pop">
                <span>✖</span>
                <h5><strong>FlightBot</strong></h5>
                <p>Take it, whip it, intermission, let the birds fly</p>
                <p><a href="https://devpost.com/software/flightbot" target="_blank">Devpost</a></p>
            </div>
            <p class="light-text">Feature phone utility for booking curated flights via SMS text and phone calls</p>
        </div>
    </div>
    <div>
        <div class="card card-1">
            <img style="display:block;margin:auto;" src="/static/pictures/Projects/Webpage.png" />
            <p><a href="https://john-b-yang.github.io" target="_blank"><strong class="project-title">Personal Website</strong></a></p>
            <p class="light-text">Portfolio website showcasing my past experiences, skills, and interests.</p>
        </div>
        <div class="card card-1">
            <img style="display:block;margin:auto;" src="/static/pictures/Projects/AutiBot2.png" />
            <p><a href="https://devpost.com/software/autibot" target="_blank"><strong class="project-title">AutiBot</strong></a></p>
            <p class="light-text">Brain training app geared towards helping children with mental challenges</p>
        </div>
        <div class="card card-1">
            <img style="display:block;margin:auto;" src="/static/pictures/Projects/SchoolBus.png" />
            <p><a href="https://devpost.com/software/detroit-student-transit" target="_blank"><strong class="project-title">Detroit Transport</strong></a></p>
            <p class="light-text">Web + Mobile Platform facilitating safety in Detroit's public transit systems</p>
        </div>
    </div>
    <div>
        <div class="card card-1">
            <img style="display:block;margin:auto;" src="/static/pictures/Projects/RoundAbout.png" />
            <p><a href="https://github.com/john-b-yang/Voyager" target="_blank"><strong class="project-title">RoundAbout</strong></a></p>
            <p class="light-text">iOS application that provides efficient multi-destination routing</p>
        </div>
        <div class="card card-1">
            <img style="display:block;margin:auto;" src="/static/pictures/Projects/Imperium.png" />
            <p><a href="https://devpost.com/software/imperium" target="_blank"><strong class="project-title">Imperium</strong></a></p>
            <p class="light-text">A low cost, uncomplicated, accessible Parkinson's partner</p>
        </div>
        <div class="card card-1">
            <img style="display:block;margin:auto;" src="/static/pictures/Projects/Concentration.png" />
            <p><a href="https://concentration-game-2017.herokuapp.com/index.html" target="_blank"><strong class="project-title">Concentration</strong></a></p>
            <p class="light-text">Small web game put together using HTML/CSS sprinkled with Javascript</p>
        </div>
    </div>
</div>
<br><br>
{% endblock content %}
