{% extends "base.html" %} {% block content %}
<h3 class="header">Publications ✒️</h3>

{% for pub in pubs %}
<div class="publication">
  <b>{{ pub.title }}</b>
  <br />
  <span>
    {% for author in pub.authors %}
      {% if loop.last %}and{% endif %}
      {% if author.site %}
        <a href="{{ author.site }}">{{ author.name }}</a>{% if not loop.last %},{% endif %}
      {% else %}
        {{ author.name }}{% if not loop.last %},{% endif %}
      {% endif %}
    {% endfor %}
  </span>
  <br />
  <span>
    {{ pub.year }} {% if pub.venue %} &bull; {{ pub.venue }} {% endif %}
    {% if "PrivShare" in pub.title %}
      &bull; 2021 JP Morgan Faculty Research Award
      (<a href="https://www.jpmorgan.com/technology/artificial-intelligence/research-awards/faculty-research-awards-2021">press</a>) 
    {% endif %}
  </span>
  <br />
  <span>
    {% if not pub.paper and not pub.code and not pub.site and not pub.video %}
    <i>Paper details coming soon</i>
    {% endif %}
    {% if pub.paper %}
    <a href="{{ pub.paper }}">
      <button>PDF</button>
    </a>
    {% endif %}
    {% if pub.code %}
    <a href="{{ pub.code }}">
      <button>Code</button>
    </a>
    {% endif %}
    {% if pub.site %}
    <a href="{{ pub.site }}">
      <button>Site</button>
    </a>
    {% endif %}
    {% if pub.poster %}
    <a href="{{ pub.poster }}">
      <button>Poster</button>
    </a>
    {% endif %}
    {% if pub.video %}
    <a href="{{ pub.video }}">
      <button>Video</button>
    </a>
    {% endif %}
  </span>
</div>
{% endfor %} {% endblock content %}
