{% extends "base.html" %} {% block content %}
<h3 class="header">Publications</h3>

{% for group in pubs %}
<b style="color:#a9a9a9">{{ group }}</b>
<hr style="border: 1px solid gray" />
{% for pub in pubs[group] %}
<div class="publication">
  <b>{{ pub.title }}</b>
  <br />
  <span>
    {% for author in pub.authors %}
      {% if author.site %}
        <a href="{{ author.site }}">{{ author.name }}</a>{% if not loop.last %},{% endif %}
      {% else %}
        <u>{{ author.name }}</u>{% if not loop.last %},{% endif %}
      {% endif %}
    {% endfor %}
  </span>
  <br />
  <span>
    {{ pub.year }} 
    {% if pub.venue_link and pub.venue %}
    &bull;
    <a href="{{ pub.venue_link }}">
      {{ pub.workshop }}
    </a> @ {{ pub.venue }}
    {% elif pub.venue %}
    &bull; {{ pub.venue }}
    {% endif %}
    {% if pub.award %}
    &bull; <span style="color:red;">{{ pub.award }}</span>
    {% endif %}
  </span>
  <br />
  <span>
    {% if not pub.paper and not pub.code and not pub.site and not pub.video %}
    <i>Paper details coming soon</i>
    {% endif %}
    {% if pub.code %}
    <a href="{{ pub.code }}">
      <button>Code</button>
    </a>
    {% endif %}
    {% if pub.paper %}
    <a href="{{ pub.paper }}">
      <button>PDF</button>
    </a>
    {% endif %}
    {% if pub.poster %}
    <a href="{{ pub.poster }}">
      <button>Poster</button>
    </a>
    {% endif %}
    {% if pub.site %}
    <a href="{{ pub.site }}">
      <button>Site</button>
    </a>
    {% endif %}
    {% if pub.talk %}
    <a href="{{ pub.talk }}">
      <button>Talk</button>
    </a>
    {% endif %}
    {% if pub.tweet %}
    <a href="{{ pub.tweet }}">
      <button>Tweet</button>
    </a>
    {% endif %}
  </span>
</div>
{% endfor %}
{% endfor %}
{% endblock content %}
