{% extends "base.html" %}

{% block content %}
<h3 class="header">Teaching 🍎</h3>
A curated list of links to resources that I've created during my past teaching and instructor tenures.
<br><br>
<div class="teaching">
  <b><span style="color:#f58025;">Princeton University</span></b>
  <ul style="list-style:square;">
    <li>
      COS 324:
      <span>Introduction to Machine Learning</span>
    </li>
    <li>
      COS 316:
      <span>Principles of Computer System Design</span>
    </li>
    <li>
      COS 126:
      <span>Computer Science: An Interdisciplinary Approach</span>
    </li>
  </ul>
  <b>
    <span style="color:#FDB515;">University of California, </span>
    <span style="color:#00B0DA;">Berkeley</span>
  </b>
  <ul>
    <li>
      CS 161:
      <a href="{{ url_for("cs161") }}">
        <span>Computer Security</span>
      </a>
    </li>
    <li>
      CS 169:
      <a href="{{ url_for("cs169") }}">
        <span>Software Engineering</span>
      </a>
    </li>
    <li>
      CS 186:
      <a href="{{ url_for("cs186") }}">
        <span>Database Systems</span>
      </a>
    </li>
    <li>
      CS 88:
      <a href="{{ url_for("cs88") }}">
        <span>Computational Structures in Data Science</span>
      </a>
    </li>
    <li>
      CS 61C:
      <a href="{{ url_for("cs61c") }}">
        <span>Machine Structures</span>
      </a>
    </li>
  </ul>
  <b><span style="color:#0067b5">Cardiff Metropolitan University</span></b>
  <ul>
    <li>
      CS 1:
      <a href="{{ url_for("cs2") }}">
        <span>Mobile & Web Technologies</span>
      </a>
    </li>
    <li>
      CS 2:
      <a href="{{ url_for("cs1") }}">
        <span>Computing & Society</span>
      </a>
    </li>
  </ul>
</div>
{% endblock content %}
