{% extends "base.html" %}

{% block content %}
<h3 class="post-title"><b>Resources</b></h3>
A curated list of links to resources that I've created during my past teaching and instructor tenures. Some resources may require a berkeley.edu email to view.
<br><br>
<div class="card-row">
  <div>
    <div class="card-course card-course-1">
        <img src="/static/pictures/Courses/cs88.png" />
        <p class="light-text">
          <a href="{{ url_for("cs88") }}">
            <b class="project-title">CS 88: Intro Data Structures</b>
          </a>
          <br>Fall 2018, Spring 2019, Fall 2019
        </p>
    </div>
    <div class="card-course card-course-1">
        <img src="/static/pictures/Courses/cs61c.png" />
        <p class="light-text">
          <a href="{{ url_for("cs61c") }}">
            <b class="project-title">CS 61C: Machine Structures</b>
          </a>
          <br>Summer 2019
        </p>
    </div>
    <div class="card-course card-course-1">
        <img src="/static/pictures/Courses/cs186.png" />
        <p class="light-text">
          <a href="{{ url_for("cs186") }}">
            <b class="project-title">CS 186: Database Systems</b>
          </a>
          <br>Fall 2019, Spring 2020
        </p>
    </div>
  </div>
</div>
<div class="card-row">
  <div>
    <div class="card-course card-course-1">
        <img src="/static/pictures/Courses/cs169.jpg" />
        <p class="light-text">
          <a href="{{ url_for("cs169") }}">
            <b class="project-title">CS 169: Software Eng.</b>
          </a>
          <br>Summer 2020
        </p>
    </div>
    <div class="card-course card-course-1">
        <img src="/static/pictures/Courses/cs161.png" />
        <p class="light-text">
          <a href="{{ url_for("cs161") }}">
            <b class="project-title">CS 161: Computer Security</b>
          </a>
          <br>Fall 2020
        </p>
    </div>
  </div>
</div>
{% endblock content %}
