{% extends "base.html" %}

{% block content %}
<h3 class="post-title"><b>Resources</b></h3>
A curated list of links to resources that I've created during my past teaching and instructor tenures.
<br><br>
<b><span style="color:#f58025;">Princeton University</span></b>
<ul style="list-style:square;">
  <li>
    COS 326:
    <span class="light-text">Principles of Computer System Design</span>
  </li>
  <li>
    COS 126:
    <span class="light-text">Computer Science: An Interdisciplinary Approach</span>
    <a href="{{ url_for("cos126") }}">🔗</a>
  </li>
</ul>
<b>
  <span style="color:#FDB515;">University of California, </span>
  <span style="color:#3B7EA1;">Berkeley</span>
</b>
<ul>
  <li>
    CS 161:
    <span class="light-text">Computer Security</span>
    <a href="{{ url_for("cs161") }}">🔗</a>
  </li>
  <li>
    CS 169:
    <span class="light-text">Software Engineering</span>
    <a href="{{ url_for("cs169") }}">🔗</a>
  </li>
  <li>
    CS 186:
    <span class="light-text">Database Systems</span>
    <a href="{{ url_for("cs186") }}">🔗</a>
  </li>
  <li>
    CS 88:
    <span class="light-text">Computational Structures in Data Science</span>
    <a href="{{ url_for("cs88") }}">🔗</a>
  </li>
  <li>
    CS 61C:
    <span class="light-text">Machine Structures</span>
    <a href="{{ url_for("cs61c") }}">🔗</a>
  </li>
</ul>
<b><span style="color:#0067b5">Cardiff Metropolitan University</span></b>
<ul>
  <li>
    CS 1:
    <span class="light-text">Mobile & Web Technologies</span>
    <a href="{{ url_for("cs2") }}">🔗</a>
  </li>
  <li>
    CS 2:
    <span class="light-text">Computing & Society</span>
    <a href="{{ url_for("cs1") }}">🔗</a>
  </li>
</ul>
{% endblock content %}
